/* === Jobs Route main Section Styles */
.jobs-route-container {
  background-color: black;
  height: 100vh;
  overflow-y: hidden;
}

.jobs-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  height: 85vh;
  overflow-y: auto;
}

/* === PROFILE Container Section */

/* === Render - Profile SUCCESS View Styles*/

.profile-and-filter-section-container {
  order: 1;
}

.profile-section-container {
  padding-bottom: 20px;
  border-bottom: solid 2px rgb(68, 68, 68);
}

.profile-container {
  padding: 15px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 100%;
  border-radius: 25px;
  background-color: white;
}

.profile-logo-image {
  width: 50px;
}

.profile-name {
  font-size: 16px;
  color: #4f46e5;
}

.profile-short-bio {
  font-size: 12px;
  color: #726ddd;
}

/* === Render - Profile FAILURE View Styles */

.retry-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  padding: 20px;
}
.retry-button {
  background-color: rgb(39, 42, 245);
  padding: 5px 12px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: white;
}

/* === Render - Profile LOADING View Styles */

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* === Job Categories Filter Section Styles */

.job-category-filter-section-container {
}

/* Employment Types Filter Section Style */

.employment-types-container {
  padding-left: 0px;
  border-bottom: solid 2px rgb(68, 68, 68);
  padding-bottom: 20px;
}
.employment-heading {
  font-size: 17px;
  color: white;
}
.employment-item {
  list-style: none;
}
.check-box-element {
  width: 15px;
  height: 15px;
}
.employment-label {
  padding-left: 8px;
  color: white;
  font-size: 13px;
}

/* === Salary Range Filter Section Style */

.salary-range-container {
  padding-left: 0px;
  border-bottom: solid 2px rgb(68, 68, 68);
  padding-bottom: 20px;
}
.salary-range-heading {
  font-size: 17px;
  color: white;
}
.salary-range-item {
  list-style: none;
}

.radio-button {
  height: 15px;
  width: 15px;
}
.salary-range-label {
  padding-left: 8px;
  color: white;
  font-size: 13px;
}

/* === Search Section Styles */

.search-section-container {
  display: flex;
  width: 100%;
  padding-bottom: 15px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  width: 100%;
  max-width: 320px;
}
.search-input {
  padding: 10px 5px;
  border: none;
  background-color: black;
  outline: none;
  color: white;
  width: 100%;
}
.search-button {
  background: none;
  background-color: rgb(100, 100, 100);
  border: none;
}
.search-icon {
  padding: 10px;
  color: white;
  height: 33px;
  width: 40px;
}

/* ===Render Display Job View Status */

.jobs-main-section-container {
  order: 1;
}

.jobs-list-section-container {
}

/* Noo JOB View  */

.not-found-job-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.not-found-job-image {
  width: 80%;
  max-width: 400px;
}
.not-found-job-text {
  font-size: 20px;
  color: white;
}
.not-found-job-dec {
  font-size: 10px;
  color: white;
}

/* === Render - Jobs FAILURE View Styles */

.jobs-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.jobs-failure-image {
  width: 80%;
  max-width: 400px;
}
.jobs-failure-error-text {
  font-size: 20px;
  color: white;
}
.jobs-failure-dec {
  font-size: 10px;
  color: white;
}
.jobs-failure-retry-button {
  background-color: rgb(39, 42, 245);
  padding: 5px 12px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: white;
}

/* === Render - Jobs LOADING View Styles */

.loader-job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.no-job {
  color: aliceblue;
  font-size: 50px;
}

/* Largest Device Responsive View */

@media screen and (min-width: 576px) {
  .jobs-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 30px;
  }
  .profile-and-filter-section-container {
    width: 30%;
    max-width: 260px;
  }
  .jobs-main-section-container {
    width: 70%;
    max-width: 800px;
    padding-left: 30px;
  }
}
