.home-route-container {
  min-height: 100vh;
  overflow-y: hidden;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
}
@media screen and (min-width: 562px) {
  .home-route-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}

.home-main-container {
  min-height: 100vh;
  overflow-y: auto;
  width: 100%;
}

.home-container {
  padding: 6%;
  max-width: 500px;
}
@media screen and (min-width: 1000px) {
  .home-container {
    max-width: 650px;
  }
}

.home-heading {
  font-size: 28px;
  color: white;
}
@media screen and (min-width: 562px) {
  .home-heading {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 40px;
  }
}

.home-description {
  font-size: 13px;
  font-weight: 500;
  color: white;
  line-height: 25px;
  padding: 10px 0px;
}
@media screen and (min-width: 562px) {
  .home-description {
    font-size: 15px;
  }
}

.find-job-button {
  background-color: rgb(99, 102, 241);
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-width: 562px) {
  .find-job-button {
    padding: 12px 22px;
    border-radius: 6px;
  }
}

.find-job-link {
  text-decoration: none;
}
