.similar-job-item-card-main-container {
  width: 100%;
  padding: 10px;
  max-width: 600px;
  text-decoration: none;
}

.similar-job-item-card-container {
  list-style: none;
  padding: 15px 10px;
  background-image: radial-gradient(rgb(110, 110, 110), rgb(68, 68, 68));
  border-radius: 10px;
  width: 100%;
}

.similar-job-company-logo-and-job-title-item {
  display: flex;
  align-items: center;
}
.similar-job-company-logo-image {
  width: 40px;
}
.similar-job-title-and-rating-item {
  display: flex;
  flex-direction: column;
  padding-left: 6px;
}
.similar-job-title {
  font-size: 14px;
  color: white;
  margin: 0;
  padding-bottom: 4px;
}
.similar-job-rating-item {
  display: flex;
  align-items: center;
  margin: 0;
}
.similar-job-rating {
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin: 0;
  padding-left: 4px;
}

.similar-job-location-and-salary-package-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.similar-job-location-and-employment-type-item {
  display: flex;
  align-items: center;
}
.similar-job-location-item {
  display: flex;
  align-items: center;
  padding-right: 13px;
}
.similar-job-location {
  font-size: 13px;
  color: white;
  padding-left: 3px;
}
.similar-job-employment-item {
  display: flex;
  align-items: center;
}
.similar-job-employment-type {
  font-size: 13px;
  color: white;
  padding-left: 3px;
}
.similar-job-salary-package {
  font-size: 14px;
  color: white;
  font-weight: 500;
}
.similar-job-description-heading {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.similar-job-description {
  color: rgb(209, 209, 209);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (min-width: 576px) {
  .similar-job-item-card-main-container {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .similar-job-item-card-main-container {
    width: 33%;
  }
}